<button class="btn btn-primary btn-sm m-2" routerLink="data-binding">Data Binding</button>
&nbsp;
<button class="btn btn-primary btn-sm m-2" routerLink="directives">Directives</button>
&nbsp;
<button class="btn btn-primary btn-sm m-2" routerLink="parent">Parent</button>
&nbsp;
<button class="btn btn-primary btn-sm m-2" routerLink="attr-directives">Attr-directives</button>
&nbsp;
<button class="btn btn-primary btn-sm m-2" routerLink="ang-form">AngForm</button>
&nbsp;
<button class="btn btn-primary btn-sm m-2" routerLink="categories">Categories</button>
&nbsp;
<button class="btn btn-primary btn-sm m-2" routerLink="pipes">Pipes</button>