<h1>Hello Angular</h1>
<!-- <h3>Hello world</h3> -->
<!-- <app-data-binding></app-data-binding>   -->
<!-- <app-directives></app-directives> -->
<!-- <app-task1></app-task1> -->
<!-- <app-task2></app-task2> -->
<!-- <app-assignment></app-assignment> -->
<!-- <app-attr-directives></app-attr-directives> -->
<!-- <app-parent></app-parent> -->
<!-- <app-pipes></app-pipes> -->

<div class="card border-primary">
<div class="card-header border-primary">
<app-nav></app-nav>
</div>

<div class="card-body border-primary">
    <router-outlet></router-outlet>
</div>

<div class="card-footer border-primary">

</div>
</div>

