<p>categories works!</p>

<div class="card">
    <div class="card-header">
        <h3>Welcome to Shopify !</h3>
        <div id="b1">
    <button class="btn btn-warning btn-sm m-2" routerLink="Categories">Categories</button>
    <button class="btn btn-primary btn-sm m-2" routerLink="mobiles">Mobiles</button>
    <button class="btn btn-primary btn-sm m-2" routerLink="books">Books</button>
    <button class="btn btn-primary btn-sm m-2" routerLink="tvs">TVs</button>
    <button class="btn btn-primary btn-sm m-2" routerLink="toys">Toys</button>
</div>
<div class="card-body border-primary">
    <router-outlet></router-outlet>
</div>

<div class="card-footer border-primary">
  <p class="text-center bg-primary p-2 text-light m-2">Copyright@ 2022 | All rights reserved.</p>
</div>