h2{
    color: blueviolet;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: red;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}